
.btn {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: inherit;
  cursor: pointer;
  color: var(--white);
  transition: background-color .2s;
}

.btn-green {
  background-color: var(--green);
  &:hover {
    background-color: var(--green-dark);
  }
}

.btn-red {
  background-color: #ef5350;
  &:hover {
    background-color: #e53935;
  }
}
